//====================================================================================================

.header {
	// .header__container

	&__container {
	}
}

.top {
	// .top_header

	&_header {
	}
}
.star-yndex {
	display: flex;
	align-items: center;
	._icon-I {
		color: #e30e0e;
		font-size: 20px;
		position: absolute;
		left: 12px;
		top: 11px;
	}
	._icon-start {
		font-size: 30px;
		position: absolute;
		left: 43%;
		top: 8px;
	}
}
.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: rem(22);
	@media (max-width: $mobile) {
		padding-top: rem(5);
	}
	@media (max-width: $mobileSmall) {
		.link-logo {
			max-width: 110px;
		}
	}
	// .header-top__logo

	&__logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 0 1 650px;
		position: relative;
		@media (max-width: 520px) {
			flex: 1 1 auto;
			justify-content: center;
		}
		.reiting {
			font-size: rem(18);
			line-height: math.div(22, 18);
			font-weight: 600;
		}
	}
	.yandex-reiting {
		background: url("@img/yandex-fon.png") 0 0 no-repeat;
		background-size: cover;
		width: 56px;
		height: 88px;
		position: absolute;
		top: -22px;
		left: 37%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: rem(11);
		@media (max-width: $tablet) {
			left: 60%;
		}
		@media (max-width: 520px) {
			left: -15px;
		}
		@media (max-width: $mobile) {
			top: -5px;
			a img {
				max-width: 125px;
				width: 100%;
			}
		}
	}
	// .header-top__adress

	&__adress {
		text-align: left;
		color: #4d4d4d;
		position: relative;
		@media (max-width: $tablet) {
			display: none;
		}
		._icon-adress:before {
			position: absolute;
			color: #fd7900;
			left: -70px;
			top: 0;
			font-size: 30px;
			background: #ffeedf;
			border-radius: 37px;
			padding: 10px;
			font-weight: 500;
		}
		p {
			padding-bottom: 5px;
		}
	}
	.map {
		color: #fd7900;
		text-decoration: underline;
		font-size: 16px;
	}
	// .header-top__whatsapp

	&__whatsapp {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 0 1 450px;
		@media (max-width: 1200px) {
			flex: 0 1 auto;
			align-items: flex-start;
		}

		._icon-watchap::before {
			font-size: 20px;
			background: #00bb25;
			border-radius: 37px;
			padding: 7px;
			color: #fff;
			position: absolute;
			top: -5px;
			left: -45px;
			@media (max-width: $mobile) {
				border-radius: 37px;
				padding: 10px;
				font-size: 30px;
				background: none;
				color: #00bb25;
			}
			@media (max-width: $mobileSmall) {
				display: none;
			}
		}
		.WhatsApp {
			font-weight: 700;
			font-size: rem(16);
			line-height: math.div(24, 16);
		}
	}

	// .header-top__question

	&__question {
		text-align: right;
		@media (max-width: 1200px) {
			display: none;
		}
		p {
			padding-bottom: 5px;
		}
	}

	// .header-top__telefon

	&__telefon {
		text-align: right;
		position: relative;
	}
}
.top-tel {
	font-size: rem(24);
	font-weight: 700;
	line-height: math.div(24, 29);
	white-space: nowrap;

	@media (max-width: $tablet) {
		font-size: rem(20);
		padding: 0px 0px 0px 10px;
	}
	@media (max-width: $mobileSmall) {
		font-size: rem(18);
		padding: 0px 0px 0px 0px;
	}
}

.header {
	position: relative;
	// .header__menu

	&__menu {
	}
}
.menu {
	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		margin: 28px 0px 0px 0px;
		@media (max-width: $mobile) {
			.menu-open &::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(71, 44, 8, 0.527);
			}
		}
	}

	// .menu__list

	&__list {
		background: #ffffff;
		border: 2px solid #f0f0f0;
		border-radius: 25px;
		display: flex;

		justify-content: space-between;
		padding: 0px 60px 0px 60px;
		@media (max-width: $mobile) {
			right: -200%;
			position: absolute;
			padding: 0px;

			li {
				border-bottom: 1px solid #4d4d4d;

				width: 100%;
				text-align: center;
				&:hover {
					background-color: #fd7900;
					border: none;
				}
				&:last-child {
					border: none;
					border-bottom-left-radius: 22px;
					border-bottom-right-radius: 22px;
				}
				&:first-child {
					border-top-left-radius: 22px;
					border-top-right-radius: 22px;
				}
			}
		}
		.menu-open & {
			right: 10px;
			width: 96%;
			transition: all 0.6s ease 0s;
			flex-direction: column;
			align-items: center;
		}
	}

	// .menu__link

	&__link {
		display: inline-block;
		padding: 16px 5px 16px 5px;
		color: #4d4d4d;
		font-size: 18px;
		font-weight: 600;
		line-height: math.div(27, 18);
		white-space: nowrap;
		@media (max-width: $tablet) {
			font-size: 16px;
		}
		@media (max-width: $mobile) {
			display: block;
		}
		&:hover {
			color: #f5f2f0;
			transition: all 0.3s ease 0s;
		}
	}
}
.icon-menu {
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		right: -92%;
		top: 0;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span,
			&::before,
			&::after {
				background-color: #fd7900;
			}
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
